In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, classification_report

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_merged_no_hol = pd.read_csv('no_hol_v2_edited.csv')
df_2018s2 = pd.read_csv('2018_2_no_exam.csv')
df_2019s1 = pd.read_csv('2019_1.csv')
df_closed = pd.read_csv('closed_semester.csv')

frames = [df_2018s2, df_2019s1]
joined = pd.concat(frames)
df = joined[joined['Station_depart.'] == '12 CU Terrace']
df

,Date,regist_dt_ICT,start_dt_ICT,end_dt_ICT,Customer_ID,Station_depart.,Station_dest.
49,7/1/2019,8:37:18,NaN,NaN,CP#0R1Y7,12 CU Terrace,02 Economics
50,7/1/2019,7:01:03,NaN,NaN,CP#0S9Z5,12 CU Terrace,03 Sala Prakeaw
51,7/1/2019,12:33:48,12:38:34,12:45:12,CP#0RPP9,12 CU Terrace,03 Sala Prakeaw
52,7/1/2019,8:44:00,9:02:11,9:08:28,CP#0PFV4,12 CU Terrace,04 Engineering
53,7/1/2019,8:50:49,8:51:18,8:58:37,CP#0PVP6,12 CU Terrace,04 Engineering
...,...,...,...,...,...,...,...
5796,30/9/2019,12:36:30,12:37:18,12:43:56,CP#0T9M5,12 CU Terrace,18 Art and Culture
5797,30/9/2019,12:45:55,NaN,NaN,CP#0WLR2,12 CU Terrace,18 Art and Culture
5798,30/9/2019,7:36:23,7:53:28,8:00:44,CP#0WHL8,12 CU Terrace,19 Pharmaceutical Science
5799,30/9/2019,12:22:00,12:27:09,12:32:12,CP#0S7J6,12 CU Terrace,19 Pharmaceutical Science
5846,30/9/2019,12:56:06,12:57:21,13:00:03,CP#0WMX2,12 CU Terrace,12 CU Terrace

In [3]:
mon_merged = ['7/1/2019', '14/1/2019', '21/1/2019', '28/1/2019', '4/2/2019', '11/2/2019', '18/2/2019', '25/2/2019', '4/3/2019', '11/3/2019', '18/3/2019', '25/3/2019', '1/4/2019', '8/4/2019', '15/4/2019', '22/4/2019', '29/4/2019', '6/5/2019', '13/5/2019', '20/5/2019', '27/5/2019', '10/6/2019', '17/6/2019', '24/6/2019', '1/7/2019', '8/7/2019', '15/7/2019', '22/7/2019', '5/8/2019', '12/8/2019', '19/8/2019', '26/8/2019', '2/9/2019', '9/9/2019', '16/9/2019', '23/9/2019', '30/9/2019']
tue_merged = ['1/1/2019', '8/1/2019', '15/1/2019', '22/1/2019', '29/1/2019', '5/2/2019', '12/2/2019', '26/2/2019', '5/3/2019', '12/3/2019', '19/3/2019', '26/3/2019', '2/4/2019', '9/4/2019', '16/4/2019', '23/4/2019', '30/4/2019', '7/5/2019', '14/5/2019', '21/5/2019', '28/5/2019', '4/6/2019', '11/6/2019', '18/6/2019', '25/6/2019', '2/7/2019', '9/7/2019', '23/7/2019', '30/7/2019', '6/8/2019', '13/8/2019', '20/8/2019', '27/8/2019', '3/9/2019', '10/9/2019', '17/9/2019', '24/9/2019']
wed_merged = ['2/1/2019', '9/1/2019', '16/1/2019', '23/1/2019', '30/1/2019', '6/2/2019', '13/2/2019', '20/2/2019', '27/2/2019', '6/3/2019', '13/3/2019', '20/3/2019', '27/3/2019', '3/4/2019', '10/4/2019', '17/4/2019', '24/4/2019', '1/5/2019', '8/5/2019', '15/5/2019', '22/5/2019', '29/5/2019', '5/6/2019', '12/6/2019', '19/6/2019', '26/6/2019', '3/7/2019', '10/7/2019', '24/7/2019', '31/7/2019', '7/8/2019', '14/8/2019', '21/8/2019', '28/8/2019', '4/9/2019', '11/9/2019', '18/9/2019', '25/9/2019']
thu_merged = ['3/1/2019', '10/1/2019', '17/1/2019', '24/1/2019', '31/1/2019', '7/2/2019', '14/2/2019', '21/2/2019', '28/2/2019', '7/3/2019', '14/3/2019', '21/3/2019', '28/3/2019', '4/4/2019', '11/4/2019', '18/4/2019', '25/4/2019', '2/5/2019', '9/5/2019', '16/5/2019', '23/5/2019', '30/5/2019', '6/6/2019', '13/6/2019', '20/6/2019', '27/6/2019', '4/7/2019', '11/7/2019', '18/7/2019', '25/7/2019', '1/8/2019', '8/8/2019', '15/8/2019', '22/8/2019', '29/8/2019', '5/9/2019', '12/9/2019', '19/9/2019', '26/9/2019']
fri_merged = ['4/1/2019', '11/1/2019', '18/1/2019', '25/1/2019', '1/2/2019', '8/2/2019', '15/2/2019', '22/2/2019', '1/3/2019', '8/3/2019', '15/3/2019', '22/3/2019', '29/3/2019', '5/4/2019', '12/4/2019', '19/4/2019', '26/4/2019', '3/5/2019', '10/5/2019', '17/5/2019', '24/5/2019', '31/5/2019', '7/6/2019', '14/6/2019', '21/6/2019', '28/6/2019', '5/7/2019', '12/7/2019', '19/7/2019', '26/7/2019', '2/8/2019', '9/8/2019', '16/8/2019', '23/8/2019', '30/8/2019', '6/9/2019', '13/9/2019', '20/9/2019', '27/9/2019']
sat_merged = ['5/1/2019', '22/6/2019']

mon_merged = pd.to_datetime(mon_merged, dayfirst=True)
tue_merged = pd.to_datetime(tue_merged, dayfirst=True)
wed_merged = pd.to_datetime(wed_merged, dayfirst=True)
thu_merged = pd.to_datetime(thu_merged, dayfirst=True)
fri_merged = pd.to_datetime(fri_merged, dayfirst=True)

# month = []
# for slot in train['Date']:
#     (d, m, y) = slot.split('/')
#     m = int(m)
#     if (m == 1):
#         month.append('1-Jan')
#     elif (m == 2):
#         month.append('2-Feb')
#     elif (m == 3):
#         month.append('3-Mar')
#     elif (m == 4):
#         month.append('4-Apr')
#     elif (m == 5):
#         month.append('5-May')
#     elif (m == 6):
#         month.append('6-Jun')
#     elif (m == 7):
#         month.append('7-Jul')
#     elif (m == 8):
#         month.append('8-Aug')
#     elif (m == 9):
#         month.append('9-Sep')
# train['Month'] = month

In [13]:
start = 7
stop = 21.5

def fill_missing(df, df_main, type):
    date = list(dict.fromkeys(df_main['Date']))
    
    if (type == True):
        oper_time = list(np.arange(start, stop, 0.5))
    else:
        oper_time = list(np.arange(start, stop))
        
    timestamp_all = []
    
    for each in date:
        each = str(each)
        each = each[0:11]
        for h in oper_time:
            (d, m, y) = each.split('/')
            d, m, y, hh = int(d), int(m), int(y), int(h)
            if (((h*10)%10) == 5):
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh, minute=30)
            else:
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh)
            timestamp_all.append(timestamp)

    timestamp_fill = list(set(timestamp_all) - set((list(dict.fromkeys(df['Timestamp'])))))

    demand_fill = []
    demand_fill = [0] * len(timestamp_fill)

    data_fill = {'Timestamp': timestamp_fill, 'Demand': demand_fill}    
    df_od_fill = pd.DataFrame(data_fill)
    df_od_fill = df_od_fill.sort_values('Timestamp')
    df_od_fill = df_od_fill.reset_index(drop=True)
    
    df, backup = group_by_time(df)
    
    df = df.append(df_od_fill)
    df = df.sort_values('Timestamp')
    df = df.reset_index(drop=True)
    
    return df

def group_by_time(df):
    df = df.groupby('Timestamp').sum()
    backup = df
    df = df.reset_index()
    
    return df, backup

def create_window(df, type):
    converted_regist = []
    
    for slot in df['regist_dt_ICT']:
        (h, m, s) = slot.split(':')
        if (type == True):
            if (int(m) >= 30):
                time = int(h) + 0.5
            else:
                time = int(h)
        else:
            time = int(h)
        converted_regist.append(time)    

    df['Converted_Regist'] = converted_regist
    
    df = df[df['Converted_Regist'] >= start]
    df = df[df['Converted_Regist'] < stop]
    
    return df

def create_timestamp(df, type): 
    df['DateTime'] = df[df.columns[0:2]].apply(lambda x : '/' .join(x.astype(str)),axis=1)
    df['DateTime'] = df['DateTime'].str.replace(":", "/")
    
    timestamp_converted = []
    
    for slot in df['DateTime']:
        (d, m, y, hh, mm, ss) = slot.split('/')
        d, m, y, hh, mm = int(d), int(m), int(y), int(hh), int(mm)
        if (type == True):
            if (mm >= 30):
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh, minute=30)
            else:
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh)
        else:
            timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh)
        timestamp_converted.append(timestamp)
        
    df['Timestamp'] = timestamp_converted
    
    df = df.drop('DateTime', axis=1)
    
    return df

def add_dds(df, station):
    date = []
    
    for each in df['Timestamp']:
        each = str(each)
        each = each[0:10]
        date.append(each)
        
    df['Date'] = date
    df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

    day = []
    
    for slot in train['Date']:
        if slot in mon_merged:
            day.append('1')
        if slot in tue_merged:
            day.append('2')
        if slot in wed_merged:
            day.append('3')
        if slot in thu_merged:
            day.append('4')
        if slot in fri_merged:
            day.append('5')
            
    train['Day'] = day

    destination = []
    station = int(station[0:2])
    destination = [station] * len(df)
    df['Destination'] = destination
    
    return df

def add_demand(df):
    demand = []
    demand = [1] * len(df)
    df['Demand'] = demand
    
    return df

def extract_regist(df):
    converted_regist = []
    
    for each in df['Timestamp']:
        each = str(each)
        hour = int(each[11:13])
        converted_regist.append(hour)    

    df['Converted_Regist'] = converted_regist
    
    return df

In [5]:
# df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
# df.set_index('Date', inplace=True)
# df_train = df
# df = df.reset_index()
# df

# df_train = df_train_clone = df[:'2019-04-30']
# df_test = df_test_clone = df['2019-05-01':'2019-05-23']
# df_test = df_test_clone = df['2019-04-01':'2019-04-30']
# df_train2 = df_train_clone2 = df['2019-08-13':'2019-09-20']
# df_test2 = df_test_clone2 = df['2019-09-23':'2019-09-30']
# df_test_clone = df_test_clone.reset_index()
# df_train_clone2 = df_train_clone2.reset_index()
# df_test_clone2 = df_test_clone2.reset_index()
# df_train_clone

In [14]:
all_destination = date = list(dict.fromkeys(df['Station_dest.']))
df_with_timestamp = create_timestamp(df, False)
df = add_demand(df)
template = {'Timestamp', 'Demand', 'Date', 'Day', 'Destination', 'Converted_Regist'}    
df_joined = pd.DataFrame(template)
frames = []

for station in all_destination:
    df_od = df[df['Station_dest.'] == station]
    df_od = create_timestamp(df_od, False)
    train, backup_train = group_by_time(df_od)
    train = train_clone = fill_missing(train, df_with_timestamp, False)
    train = add_dds(train, station)
    train = extract_regist(train)
    frames.append(train)
    
df_joined = pd.concat(frames)
df_joined

               Timestamp  Demand       Date Day  Destination  Converted_Regist
0    2019-01-07 07:00:00       0 2019-01-07   1            2                 7
1    2019-01-07 08:00:00       1 2019-01-07   1            2                 8
2    2019-01-07 09:00:00       0 2019-01-07   1            2                 9
3    2019-01-07 10:00:00       0 2019-01-07   1            2                10
4    2019-01-07 11:00:00       0 2019-01-07   1            2                11
...                  ...     ...        ...  ..          ...               ...
1645 2019-09-30 17:00:00       0 2019-09-30   1           10                17
1646 2019-09-30 18:00:00       0 2019-09-30   1           10                18
1647 2019-09-30 19:00:00       0 2019-09-30   1           10                19
1648 2019-09-30 20:00:00       0 2019-09-30   1           10                20
1649 2019-09-30 21:00:00       0 2019-09-30   1           10                21

[34650 rows x 6 columns]

In [17]:
df_joined = df_joined.sort_values(['Timestamp', 'Destination'])
df_joined

               Timestamp  Demand       Date Day  Destination  Converted_Regist
0    2019-01-07 07:00:00       0 2019-01-07   1            1                 7
0    2019-01-07 07:00:00       0 2019-01-07   1            2                 7
0    2019-01-07 07:00:00       1 2019-01-07   1            3                 7
0    2019-01-07 07:00:00       0 2019-01-07   1            4                 7
0    2019-01-07 07:00:00       0 2019-01-07   1            5                 7
...                  ...     ...        ...  ..          ...               ...
1649 2019-09-30 21:00:00       0 2019-09-30   1           18                21
1649 2019-09-30 21:00:00       0 2019-09-30   1           19                21
1649 2019-09-30 21:00:00       0 2019-09-30   1           20                21
1649 2019-09-30 21:00:00       0 2019-09-30   1           21                21
1649 2019-09-30 21:00:00       0 2019-09-30   1           22                21

[34650 rows x 6 columns]

In [18]:
df1 = df_joined[['Day', 'Destination', 'Converted_Regist', 'Demand']]
df1.head(30)

  Day  Destination  Converted_Regist  Demand
0   1            1                 7       0
0   1            2                 7       0
0   1            3                 7       1
0   1            4                 7       0
0   1            5                 7       0
0   1            6                 7       0
0   1            7                 7       0
0   1            8                 7       0
0   1            9                 7       0
0   1           10                 7       0
0   1           11                 7       1
0   1           12                 7       0
0   1           14                 7       0
0   1           15                 7       0
0   1           16                 7       0
0   1           17                 7       0
0   1           18                 7       0
0   1           19                 7       0
0   1           20                 7       0
0   1           21                 7       0
0   1           22                 7       0
1   1            1                 8       0
1   1            2                 8       1
1   1            3                 8       0
1   1            4                 8       2
1   1            5                 8       0
1   1            6                 8       0
1   1            7                 8       0
1   1            8                 8       0
1   1            9                 8       0

In [ ]:
from numpy import array
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

le = LabelEncoder()
X_2 = df1.apply(le.fit_transform)
X_2.head(30)

In [ ]:
onehotlabels

In [26]:
y = df1['Demand']
X = df1.drop('Demand', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [27]:
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [28]:
fi = pd.Series(model.feature_importances_, index=X_train.columns).sort_values()
fi

Day                 0.144118
Destination         0.349637
Converted_Regist    0.506245
dtype: float64

In [29]:
y_predicted = model.predict(X_test)
print('Accuracy {:.5f}'.format(model.score(X_test, y_test)))
print(classification_report(y_predicted, y_test))
cnf_matrix = metrics.confusion_matrix(y_test, y_predicted)
cnf_matrix

Accuracy 0.96575
              precision    recall  f1-score   support

           0       1.00      0.97      0.98     10313
           1       0.15      0.66      0.25        82
           2       0.00      0.00      0.00         0
           3       0.00      0.00      0.00         0
           4       0.00      0.00      0.00         0

    accuracy                           0.97     10395
   macro avg       0.23      0.33      0.25     10395
weighted avg       0.99      0.97      0.98     10395

array([[9985,   18,    0,    0,    0],
       [ 303,   54,    0,    0,    0],
       [  20,    7,    0,    0,    0],
       [   3,    2,    0,    0,    0],
       [   2,    1,    0,    0,    0]])

In [23]:
import graphviz

dot_data = tree.export_graphviz(model, out_file=None, 
                                feature_names=X_train.columns,  
                                class_names=y_train.name,  
                                filled=True,  
                                special_characters=True)  
graph = graphviz.Source(dot_data)  
graph.render('classification tree')

'classification tree.pdf'

In [52]:
station = range(1,23)

for each in station:
    print(model.predict([[1, each, 23]]))

[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]

In [24]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) 

regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [25]:
y_predicted = model.predict(X_test)
print('Accuracy {:.5f}'.format(model.score(X_test, y_test)))
print(classification_report(y_predicted, y_test))
cnf_matrix = metrics.confusion_matrix(y_test, y_predicted)
cnf_matrix

Accuracy 0.96575
              precision    recall  f1-score   support

           0       1.00      0.97      0.98     10313
           1       0.15      0.66      0.25        82
           2       0.00      0.00      0.00         0
           3       0.00      0.00      0.00         0
           4       0.00      0.00      0.00         0

    accuracy                           0.97     10395
   macro avg       0.23      0.33      0.25     10395
weighted avg       0.99      0.97      0.98     10395

array([[9985,   18,    0,    0,    0],
       [ 303,   54,    0,    0,    0],
       [  20,    7,    0,    0,    0],
       [   3,    2,    0,    0,    0],
       [   2,    1,    0,    0,    0]])

In [ ]:
from sklearn.metrics import roc_auc_score
rf_probs = model.predict_proba(y_test)[:, 1]
roc_value = roc_auc_score(y_test, rf_probs)