In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, classification_report

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# df_merged_no_hol = pd.read_csv('no_hol_v2_edited.csv')
df_2018s2_old = pd.read_csv('2018_2_no_exam.csv')
# df_2019s1 = pd.read_csv('2019_1.csv')
# df_closed = pd.read_csv('closed_semester.csv')

# frames = [df_2018s2_old, df_2019s1]
# joined = pd.concat(frames)
# df = joined[joined['Station_depart.'] == '12 CU Terrace']
# df

weather_2018s2 = pd.read_csv('2018s2_weather.csv')

In [ ]:
mon_merged = ['7/1/2019', '14/1/2019', '21/1/2019', '28/1/2019', '4/2/2019', '11/2/2019', '18/2/2019', '25/2/2019', '4/3/2019', '11/3/2019', '18/3/2019', '25/3/2019', '1/4/2019', '8/4/2019', '15/4/2019', '22/4/2019', '29/4/2019', '6/5/2019', '13/5/2019', '20/5/2019', '27/5/2019', '10/6/2019', '17/6/2019', '24/6/2019', '1/7/2019', '8/7/2019', '15/7/2019', '22/7/2019', '5/8/2019', '12/8/2019', '19/8/2019', '26/8/2019', '2/9/2019', '9/9/2019', '16/9/2019', '23/9/2019', '30/9/2019']
tue_merged = ['1/1/2019', '8/1/2019', '15/1/2019', '22/1/2019', '29/1/2019', '5/2/2019', '12/2/2019', '26/2/2019', '5/3/2019', '12/3/2019', '19/3/2019', '26/3/2019', '2/4/2019', '9/4/2019', '16/4/2019', '23/4/2019', '30/4/2019', '7/5/2019', '14/5/2019', '21/5/2019', '28/5/2019', '4/6/2019', '11/6/2019', '18/6/2019', '25/6/2019', '2/7/2019', '9/7/2019', '23/7/2019', '30/7/2019', '6/8/2019', '13/8/2019', '20/8/2019', '27/8/2019', '3/9/2019', '10/9/2019', '17/9/2019', '24/9/2019']
wed_merged = ['2/1/2019', '9/1/2019', '16/1/2019', '23/1/2019', '30/1/2019', '6/2/2019', '13/2/2019', '20/2/2019', '27/2/2019', '6/3/2019', '13/3/2019', '20/3/2019', '27/3/2019', '3/4/2019', '10/4/2019', '17/4/2019', '24/4/2019', '1/5/2019', '8/5/2019', '15/5/2019', '22/5/2019', '29/5/2019', '5/6/2019', '12/6/2019', '19/6/2019', '26/6/2019', '3/7/2019', '10/7/2019', '24/7/2019', '31/7/2019', '7/8/2019', '14/8/2019', '21/8/2019', '28/8/2019', '4/9/2019', '11/9/2019', '18/9/2019', '25/9/2019']
thu_merged = ['3/1/2019', '10/1/2019', '17/1/2019', '24/1/2019', '31/1/2019', '7/2/2019', '14/2/2019', '21/2/2019', '28/2/2019', '7/3/2019', '14/3/2019', '21/3/2019', '28/3/2019', '4/4/2019', '11/4/2019', '18/4/2019', '25/4/2019', '2/5/2019', '9/5/2019', '16/5/2019', '23/5/2019', '30/5/2019', '6/6/2019', '13/6/2019', '20/6/2019', '27/6/2019', '4/7/2019', '11/7/2019', '18/7/2019', '25/7/2019', '1/8/2019', '8/8/2019', '15/8/2019', '22/8/2019', '29/8/2019', '5/9/2019', '12/9/2019', '19/9/2019', '26/9/2019']
fri_merged = ['4/1/2019', '11/1/2019', '18/1/2019', '25/1/2019', '1/2/2019', '8/2/2019', '15/2/2019', '22/2/2019', '1/3/2019', '8/3/2019', '15/3/2019', '22/3/2019', '29/3/2019', '5/4/2019', '12/4/2019', '19/4/2019', '26/4/2019', '3/5/2019', '10/5/2019', '17/5/2019', '24/5/2019', '31/5/2019', '7/6/2019', '14/6/2019', '21/6/2019', '28/6/2019', '5/7/2019', '12/7/2019', '19/7/2019', '26/7/2019', '2/8/2019', '9/8/2019', '16/8/2019', '23/8/2019', '30/8/2019', '6/9/2019', '13/9/2019', '20/9/2019', '27/9/2019']
sat_merged = ['5/1/2019', '22/6/2019']

mon_merged = pd.to_datetime(mon_merged, dayfirst=True)
tue_merged = pd.to_datetime(tue_merged, dayfirst=True)
wed_merged = pd.to_datetime(wed_merged, dayfirst=True)
thu_merged = pd.to_datetime(thu_merged, dayfirst=True)
fri_merged = pd.to_datetime(fri_merged, dayfirst=True)

# month = []
# for slot in train['Date']:
#     (d, m, y) = slot.split('/')
#     m = int(m)
#     if (m == 1):
#         month.append('1-Jan')
#     elif (m == 2):
#         month.append('2-Feb')
#     elif (m == 3):
#         month.append('3-Mar')
#     elif (m == 4):
#         month.append('4-Apr')
#     elif (m == 5):
#         month.append('5-May')
#     elif (m == 6):
#         month.append('6-Jun')
#     elif (m == 7):
#         month.append('7-Jul')
#     elif (m == 8):
#         month.append('8-Aug')
#     elif (m == 9):
#         month.append('9-Sep')
# train['Month'] = month

In [ ]:
start = 7
stop = 21.5

def fill_missing(df, df_main, type):
    date = list(dict.fromkeys(df_main['Date']))
    
    if (type == True):
        oper_time = list(np.arange(start, stop, 0.5))
    else:
        oper_time = list(np.arange(start, stop))
        
    timestamp_all = []
    
    for each in date:
        each = str(each)
        each = each[0:11]
        for h in oper_time:
            (d, m, y) = each.split('/')
            d, m, y, hh = int(d), int(m), int(y), int(h)
            if (((h*10)%10) == 5):
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh, minute=30)
            else:
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh)
            timestamp_all.append(timestamp)

    timestamp_fill = list(set(timestamp_all) - set((list(dict.fromkeys(df['Timestamp'])))))

    demand_fill = []
    demand_fill = [0] * len(timestamp_fill)

    data_fill = {'Timestamp': timestamp_fill, 'Demand': demand_fill}    
    df_od_fill = pd.DataFrame(data_fill)
    df_od_fill = df_od_fill.sort_values('Timestamp')
    df_od_fill = df_od_fill.reset_index(drop=True)
    
    df, backup = group_by_time(df)
    
    df = df.append(df_od_fill)
    df = df.sort_values('Timestamp')
    df = df.reset_index(drop=True)
    
    return df

def group_by_time(df):
    df = df.groupby('Timestamp').sum()
    backup = df
    df = df.reset_index()
    
    return df, backup

def create_window(df, type):
    converted_regist = []
    
    for slot in df['regist_dt_ICT']:
        (h, m, s) = slot.split(':')
        if (type == True):
            if (int(m) >= 30):
                time = int(h) + 0.5
            else:
                time = int(h)
        else:
            time = int(h)
        converted_regist.append(time)    

    df['Converted_Regist'] = converted_regist
    
    df = df[df['Converted_Regist'] >= start]
    df = df[df['Converted_Regist'] < stop]
    
    return df

def create_timestamp(df, type): 
    df['DateTime'] = df[df.columns[0:2]].apply(lambda x : '/' .join(x.astype(str)),axis=1)
    df['DateTime'] = df['DateTime'].str.replace(":", "/")
    
    timestamp_converted = []
    
    for slot in df['DateTime']:
        (d, m, y, hh, mm, ss) = slot.split('/')
        d, m, y, hh, mm = int(d), int(m), int(y), int(hh), int(mm)
        if (type == True):
            if (mm >= 30):
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh, minute=30)
            else:
                timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh)
        else:
            timestamp = pd.Timestamp(year=y, month=m, day=d, hour=hh)
        timestamp_converted.append(timestamp)
        
    df['Timestamp'] = timestamp_converted
    
    df = df.drop('DateTime', axis=1)
    
    return df

def add_dds(df, station):
    date = []
    
    for each in df['Timestamp']:
        each = str(each)
        each = each[0:10]
        date.append(each)
        
    df['Date'] = date
    df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

    day = []
    
    for slot in train['Date']:
        if slot in mon_merged:
            day.append('Mon')
        if slot in tue_merged:
            day.append('Tue')
        if slot in wed_merged:
            day.append('Wed')
        if slot in thu_merged:
            day.append('Thu')
        if slot in fri_merged:
            day.append('Fri')
            
    train['Day'] = day

    destination = []
#     station = int(station[0:2])
    destination = [station] * len(df)
    df['Destination'] = destination
    
    return df

def add_demand(df):
    demand = []
    demand = [1] * len(df)
    df['Demand'] = demand
    
    return df

def extract_regist(df):
    converted_regist = []
    
    for each in df['Timestamp']:
        each = str(each)
        hour = int(each[11:13])
        converted_regist.append(hour)    

    df['Converted_Regist'] = converted_regist
    
    return df

In [ ]:
# df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
# df.set_index('Date', inplace=True)
# df_train = df
# df = df.reset_index()
# df

# df_train = df_train_clone = df[:'2019-04-30']
# df_test = df_test_clone = df['2019-05-01':'2019-05-23']
# df_test = df_test_clone = df['2019-04-01':'2019-04-30']
# df_train2 = df_train_clone2 = df['2019-08-13':'2019-09-20']
# df_test2 = df_test_clone2 = df['2019-09-23':'2019-09-30']
# df_test_clone = df_test_clone.reset_index()
# df_train_clone2 = df_train_clone2.reset_index()
# df_test_clone2 = df_test_clone2.reset_index()
# df_train_clone

In [ ]:
all_destination = date = list(dict.fromkeys(df['Station_dest.']))
df_with_timestamp = create_timestamp(df, False)
df = add_demand(df)
template = {'Timestamp', 'Demand', 'Date', 'Day', 'Destination', 'Converted_Regist'}    
df_joined = pd.DataFrame(template)
frames = []

for station in all_destination:
    df_od = df[df['Station_dest.'] == station]
    df_od = create_timestamp(df_od, False)
    train, backup_train = group_by_time(df_od)
#     train = train_clone = fill_missing(train, df_with_timestamp, False)
    train = add_dds(train, station)
    train = extract_regist(train)
    frames.append(train)
    
df_joined = pd.concat(frames)
df_joined

In [ ]:
df_joined = df_joined.sort_values(['Timestamp', 'Destination'])
df_joined = df_joined.reset_index(drop=True)
df_joined

In [ ]:
df_joined['Destination'] = df_joined['Destination'].astype('category')
# df_joined['Converted_Regist'] = df_joined['Converted_Regist'].astype('category')
df_joined = pd.get_dummies(df_joined)
df_joined

In [ ]:
df1 = df_joined.drop(['Timestamp', 'Date'], axis=1)
df1.head(30)

In [ ]:
from numpy import array
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

le = LabelEncoder()
X_2 = df1.apply(le.fit_transform)
X_2.head(30)

In [ ]:
onehotlabels

In [ ]:
y = df1['Demand']
X = df1.drop('Demand', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [ ]:
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)

In [ ]:
fi = pd.Series(model.feature_importances_, index=X_train.columns).sort_values()
fi

In [ ]:
y_predicted = model.predict(X_test)
print('Accuracy {:.5f}'.format(model.score(X_test, y_test)))
print(classification_report(y_predicted, y_test))
cnf_matrix = metrics.confusion_matrix(y_test, y_predicted)
cnf_matrix

In [ ]:
import graphviz

dot_data = tree.export_graphviz(model, out_file=None, 
                                feature_names=X_train.columns,  
                                class_names=y_train.name,  
                                filled=True,  
                                special_characters=True)  
graph = graphviz.Source(dot_data)  
graph.render('classification tree')

In [ ]:
station = range(1,23)

for each in station:
    print(model.predict([[1, each, 23]]))

RANDOM FOREST AND SVM

Top 5 routes - RFR

|Depart - Destination Station|2018/2|scale & rounding|upper|2019/1|scale & rounding|upper|Remark
|----------------------------|------|----------------|-----|------|----------------|-----|------
|12 CU Terrace - 04 Engineering|68.4%|0.6 and 6|N|56.1%|0.1 and 9|N|logistics 0-5/0-6|
|04 Engineering - 12 CU Terrace|78.0%|0.8 and 3|N|57.0%|0.5 and 4|N|logistic no/0-3|
|12 CU Terrace - 03 Sala Prakeaw|81.6%|0.3 and 7|Y|80.0%|0.1 and 9|Y|logistics 0-3 both|
|04 Engineering - 22 Siam Square Soi 8|80.5%|0.5 and 6|Y|72.6%|0.9 and 6|N|logistics 0-3, 0-4|
|04 Engineering - 21 Wittayakit Building|79.8%|0.6 and 4.5|Y|-|-|-|logistics 0-3|
|02 Economics - 21 Wittayakit Building|-|-|-|71.1%|0.9 and 8|N|logistics 0-4|
|02 Economics - 12 CU Terrace|-|-|-|68.1%|0.8 and 9|Y|logistics 0-4|

Top 5 routes - SVM

|Depart - Destination Station|2018/2|SARIMAX|AIC|round|2019/1|SARIMAX|AIC|round|
|----------------------------|------|-------|---|-----|------|-------|---|-----|
|12 CU Terrace - 04 Engineering|69.1%|(1,0,2)x(2,0,2,15)|808.3|6|55.6%|(0,0,2)x(2,0,2,15)|837.0|6|
|04 Engineering - 12 CU Terrace|70.2%|(0,0,0)x(1,0,2,15)|562.0|5|65.9%|(0,0,0)x(2,0,2,15)|439.5|5|
|12 CU Terrace - 03 Sala Prakeaw|79.3%|(1,0,2)x(2,0,2,15)|528.5|4|82.2%|(0,0,1)x(2,0,2,15)|252.3|6|
|02 Economics - 22 Siam Square Soi 8|79.2%|(0,0,2)x(2,0,2,15)|532.7|4|73.3%|(0,0,0)x(1,0,2,15)|566.8|7|
|04 Engineering - 21 Wittayakit Building|80.4%|(2,0,0)x(2,0,2,15)|466.4|4|-|-|-|-|
|02 Economics - 21 Wittayakit Building|-|-|-|-|65.3%|(0,0,2)x(2,0,2,15)|544.2|7|
|02 Economics - 12 CU Terrace|-|-|-|-|73.3%|(2,0,0)x(2,0,2,15)|559.1|3|

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, classification_report
from sklearn.tree import export_graphviz
import pydot

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_2018s2 = pd.read_csv('2018_2_new.csv')
df_2018s2

,Date,Time,Timestamp,Day of week,Hour,Quarter,Month,Day of year,Day of month,Week of year,...,Humidity,Wind Speed,Pressure,is_lunch_break,is_class_time,1204,412,1203,421,422
0,2019-01-07,7:00,2019-01-07 07:00,1,7,1,1,7,7,2,...,0.89,3.0,29.90,NO,NO,0,0,1,0,0
1,2019-01-07,8:00,2019-01-07 08:00,1,8,1,1,7,7,2,...,0.83,5.0,29.93,NO,NO,2,0,0,1,0
2,2019-01-07,9:00,2019-01-07 09:00,1,9,1,1,7,7,2,...,0.83,5.0,29.93,NO,YES,0,1,0,0,0
3,2019-01-07,10:00,2019-01-07 10:00,1,10,1,1,7,7,2,...,0.79,7.0,29.96,NO,YES,0,0,0,0,0
4,2019-01-07,11:00,2019-01-07 11:00,1,11,1,1,7,7,2,...,0.70,12.0,29.93,NO,YES,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,2019-05-03,16:00,2019-05-03 16:00,5,16,2,5,123,3,18,...,0.44,7.0,29.67,NO,NO,0,1,0,0,0
1046,2019-05-03,17:00,2019-05-03 17:00,5,17,2,5,123,3,18,...,0.47,13.0,29.70,NO,NO,0,0,0,0,0
1047,2019-05-03,18:00,2019-05-03 18:00,5,18,2,5,123,3,18,...,0.49,10.0,29.70,NO,NO,0,0,0,0,1
1048,2019-05-03,19:00,2019-05-03 19:00,5,19,2,5,123,3,18,...,0.56,12.0,29.73,NO,NO,0,0,0,0,0
1049,2019-05-03,20:00,2019-05-03 20:00,5,20,2,5,123,3,18,...,0.63,13.0,29.76,NO,NO,0,0,0,0,0

In [3]:
df_2018s2['is_lunch_break'] = np.where((df_2018s2['is_lunch_break'] == 'NO'), 0, df_2018s2['is_lunch_break'])
df_2018s2['is_lunch_break'] = np.where((df_2018s2['is_lunch_break'] == 'YES'), 1, df_2018s2['is_lunch_break'])

df_2018s2['is_class_time'] = np.where((df_2018s2['is_class_time'] == 'NO'), 0, df_2018s2['is_class_time'])
df_2018s2['is_class_time'] = np.where((df_2018s2['is_class_time'] == 'YES'), 1, df_2018s2['is_class_time'])

In [4]:
col = ['Day of week', 'Hour', 'is_lunch_break', 'is_class_time']
X = df_2018s2[col] 
# df_use = df_2018s2[['Day of week', 'Hour', 'Temperature', 'Humidity', 'Wind Speed', 'Pressure', 'is_lunch_break', 'is_class_time', '1204']]

y = df_2018s2[['1204']]
# y = np.array(y)
# X = np.array(X)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# scaler = MinMaxScaler()
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
# scaler.fit(X_test)
X_test = scaler.transform(X_test)

In [ ]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

In [6]:
rfregressor = RandomForestRegressor(n_estimators=1000, random_state=42, max_depth=8) 
rfregressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=8, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [61]:
y_predicted = rfregressor.predict(X_test)
r2 = r2_score(y_test, y_predicted)
rmse = np.sqrt(mean_squared_error(y_test, y_predicted))
mae = mean_absolute_error(y_test, y_predicted)
y_test = np.array(y_test).reshape(-1,)
mae_p = mae/(np.mean(y_test))
# smape = 100/len(y_test) * np.sum(np.abs(y_test - y_predicted) / ((np.abs(y_test) + np.abs(y_predicted))/2))

print('R2: ', r2)
print('RMSE: ', rmse)
print('MAE: ', mae)
print('MAE%: ', mae_p)
# print('Accuracy: ', 100-mape)

R2:  0.14466182444713416
RMSE:  0.5056770344653702
MAE:  0.3086431982891292
MAE%:  1.2002791044577248

In [63]:
import math
y_predicted_r = []
for each in y_predicted:
    if(each < 0):
        each = 0
    elif ((each*10)%10 >= 5):
        each = math.ceil(each)
    else:
        each = math.floor(each)
    y_predicted_r.append(each)
y_predicted_r = np.array(y_predicted_r).reshape(-1,)

In [65]:
rmse = np.sqrt(mean_squared_error(y_test, y_predicted))
mae = mean_absolute_error(y_test, y_predicted_r)
mae_p = mae/(np.sum(y_test)/len(y_test))
print('RMSE: ', rmse)
print('MAE: ', mae)
print('MAE%: ', mae_p)

RMSE:  0.5056770344653702
MAE:  0.26031746031746034
MAE%:  1.012345679012346

In [ ]:
tree = rfregressor.estimators_[5]
export_graphviz(tree, out_file = 'tree.dot', feature_names = X.columns, rounded = True, precision = 1)
(graph, ) = pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png')

In [ ]:
fig, ax = plt.subplots()
ax.scatter(y_test, y_predicted, edgecolors=(0, 0, 0))
ax.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'k--', lw=4)
ax.set_xlabel('Actual')
ax.set_ylabel('Predicted')
ax.set_title("Ground Truth vs Predicted")
plt.show()

In [ ]:
params_grid = [{'kernel': ['rbf'], 'gamma': 'C': [1, 10, 100, 1000, 10000]},
               {'kernel': ['linear'], 'C': [1, 10, 100, 1000, 10000]},
               {'kernel': ['sigmoid'], 'C': [1, 10, 100, 1000, 10000]},
               {'kernel': ['poly'], 'degree':7,  'C': [1, 10, 100, 1000, 10000]}]

In [ ]:
svm_model = GridSearchCV(SVR(), params_grid, cv=5)
svm_model.fit(X_train, y_train)

In [ ]:
print('Best score for training data:', svm_model.best_score_,"\n") 

# View the best parameters for the model found using grid search
print('Best C:',svm_model.best_estimator_.C,"\n") 
print('Best Kernel:',svm_model.best_estimator_.kernel,"\n")
print('Best Gamma:',svm_model.best_estimator_.gamma,"\n")

final_model = svm_model.best_estimator_
y_pred = final_model.predict(X_test)

In [ ]:
r2 = r2_score(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred)
mape = 100*mean_absolute_error(y_test, y_pred)

print('R2: ', r2)
print('RMSE: ', rmse)
print('MAPE: ', mape)
print('Accuracy: ', 100-mape)

In [ ]:
clf = SVR(kernel='rbf', C=100)
clf.fit(X_train, y_train)

In [ ]:
y_predicted = clf.predict(X_test)
r2 = r2_score(y_test, y_predicted)
rmse = mean_squared_error(y_test, y_predicted)
mape = 100*mean_absolute_error(y_test, y_predicted)

print('R2: ', r2)
print('RMSE: ', rmse)
print('MAPE: ', mape)
print('Accuracy: ', 100-mape)

In [ ]:
# plt.scatter(X, y, color = 'magenta')
plt.plot(X, clf.predict(X), color = 'green')
plt.show()

In [ ]:
X_test

In [ ]:
plt.scatter(X_test.Hour, y_test)

In [ ]:
plt.scatter(X_test.Hour, clf.predict(X_test))